









@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#00b03e;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    
}

body.active{
    --black:#fff;
    --light-color:#ddd;
    --bg-color:#222;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                      -.4rem -.4rem 1rem #333 inset;
}

section{
    min-height: 100vh;
    padding:0rem;
}
h4{
    margin-top: 3rem;
    color:var(--black);
    font-size: 1.75rem;
    
}

.btnd{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color:var(--black);
    box-shadow: var(--box-shadow);
}

.btnd:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}

.heading{
    text-align: center;
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span{
    color:var(--green);
    text-transform: uppercase;
}






#theme-toggler{
    position: fixed;
    top:1.5rem; right: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
}

#theme-toggler:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}

.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 6.5rem;
    color:var(--black);
    line-height: 1.1;
    margin-top: 8rem;
    padding: 0 3rem;
    text-shadow: var(--box-shadow);
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color:var(--green);
    padding: 2rem;
    margin: 0 5rem;
}
.home .content h2{
    font-size: 2.5rem;
    color:var(--black);
    line-height: 1.1;
    padding: 0 2rem;
    text-transform: uppercase;
}
.home .content a{
    margin: 5rem;
    font-size: 3rem;
    box-shadow: var(--box-shadow);
    color:var(--black);
    padding: 1 3rem;
}
.home .content a.btn:hover{
    
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}





.home .share{
    position: relative;
    top: 4rem;
    margin: 2rem;
    margin-bottom: 8rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
}
.home .share h2{
    color:var(--black);
}

.home .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin:1rem;
    
    font-size: 2rem;
    color:var(--black);
    border-radius: .5rem;
}

.home .share a:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}

.home .navbar{
    padding-top: 1rem;
}




.credits{
    font-size: 2rem;
    text-align: center;
    padding:2.5rem 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color:var(--black);
}

.credits span{
    color: var(--green);
}













/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-left: 0;
    }

    .header{
        left:-110%;
    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display: initial;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header{
        width:100%;
        border-right: 0;
    }

}
