/*  { */
    body {
      background-color: rgb(0, 0, 0);
      padding:  15%;
      text-align: center;
    }

    h2{
      color: white;
      background-color: rgb(38, 41, 44);
      border-radius: 10px;
      box-shadow: 2px;
      padding: 15px;
      margin: 50px 20px;
      
    }
    h5{
      color:ghostwhite;
    }
    .maindiv{
      text-align: center;
      background-color: rgb(214, 202, 188);
      border-radius: 15px;
    } 

    #createmess{
      color: black;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: larger;
      background-color: rgb(92, 252, 60);
      border-radius: 10px;
      text-decoration: none;
      box-shadow: 1px 2px rgb(18, 20, 20);
      
      padding: 10px;
      
    }
    .main-heading{
      padding: 50px;
    }

    .logo1{
      width: 20%;

    }
    .div2{
      text-align: center;

      /* background-color: rgb(243, 243, 243); */
      border-radius: 15px;
      margin-top: 50px;
    }
    .descriptionpara{
      color: aliceblue;
      padding: 5% 17%;
    }
    @media only screen and (max-width: 600px){
      .logo1{
        width: 60%;
      }
      body{
        padding: 5% 8%;
      }
    }
    
